<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Web Page</title>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="title-panel">
        <img src="Transpo Logo_Web_300.png" class="top-right" style="max-height:50px; max-width:286px;">
    </div>
    <h1>IDAX Counts into TMV</h1>
    
    <!-- Form for Zip File -->
    <form method='POST' action='/upload_zip' enctype='multipart/form-data'>
        {{form.hidden_tag()}}
        {{ form.zip_file.label(class="Upload the Count's Zipfile:") }}
        {{form.zip_file()}}
        {{form.submit_zip()}}
    </form>
    
    <!-- Form for Excel File -->
    <form method='POST' action='/upload_excel' enctype='multipart/form-data'>
        {{form.hidden_tag()}}
        {{ form.excel_file.label(class="Upload the TMV Spreadsheet:") }}
        {{form.excel_file()}}
        {{form.submit_excel()}}
    </form>
    
    <!-- Button to Trigger Processing -->
    <form method='POST' action='/process'>
        <label for="input3">Time of Day:</label>
        <input type="text" id="input3" name="input3"><br>
        <input type="submit" value="Run">
    </form>
    
    <!-- Download Link (will be visible after processing) -->
    <a href="/download" id="download_link" style="display:none;">Download Processed Excel File</a>
</body>
</html>

